#header-div {
    background-color: rgb(28 53 135 / 1);
    height: 100px;
}

img {
    display: inline-block;
    margin: auto;
    height: 70%;
    color: transparent;
    border-radius: 10000px;
    margin-left: 100px;
}

h1 {
    display: inline;
    margin-left: 40px;
    margin-right: 50px;
}

ul {
    display: inline;
    text-align: right;
    margin-right: 20px;
}

li {
    display: inline;
    margin: 10px;
}

button {
    background-color: rgb(234 88 12 / 1);
    padding: 10px;
    border-radius: 25%;
}